# vision code output
vision/.gradle/
vision/build/
vision/output/

# Robot code output
bin/
build/
dist/
build.properties
build.xml

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEs
/.classpath
/.project
